{% extends "layout.html" %}
{% block title %} {{ blog.title }}{% endblock %}
{% block keywords %}{% set tags = blog.tag.split(",") %}{% for tag in tags %}{{ tag }}{% endfor %}{% endblock %}
{% block description %}{{ blog.description }}{% endblock %}
{% block article %}


<hgroup>
    <h1 class="animate__animated animate__bounce">{{ blog.title }}</h1>
    <small> 作者:<a href="#">{{ blog.author }}</a> | 发表于:{{ blog.time }}| 更新于:{{ blog.uptime }} | Tag:
        {% set tags = blog.tag.split(",") %}
        {% for tag in tags %}
        {{ tag }}
        {% endfor %}
    </small>
</hgroup>
<p>{{ data }}</p>

<hr>
<div class="blog_footer">
    <div class="prev_next">
        {% if pn.prev != None %}
        <a href="{{ site_url }}{{pn.prev.url}}.html" class="text-truncate">< <span>{{ pn.prev.title }}</span></a>
        {% endif %}

        {% if pn.next != None %}
        <a href="{{ site_url }}{{pn.next.url}}.html" class="text-truncate"><span>{{ pn.next.title }}</span> ></a>
        {% endif %}
    </div>
    {% if related != None %}
    <div class="related">

        <p>
            相关文章：
        </p>
        <ul>
            {% for t in related %}
            <li>
                <a href="{{ site_url }}{{t.url}}.html" class="text-truncate "><span>{{ t.title }}</span></a>
            </li>
            {% endfor %}
        </ul>

    </div>
    {% endif %}

</div>


<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/onedark.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>

{% endblock %}