{% extends "layout.html" %}
{% block title %}{{ blog.title }}{% endblock %}
{% block keywords %}{% set tags = blog.tag.split(",") %}{% for tag in tags %}{{ tag }}{% endfor %}{% endblock %}
{% block description %}{{ blog.description }}{% endblock %}
{% block article %}


<hgroup class="blog-info">
    <h1 class="animate__animated animate__bounce">{{ blog.title }}</h1>
    <small> 作者:<a href="#">{{ blog.author }}</a> | 发表于:<span class="cr-time" data-bs-toggle="tooltip"  data-bs-title="{{ blog.time }}">{{ blog.time }}</span> | 更新于:<span class="up-time" data-bs-toggle="tooltip"  data-bs-title="{{ blog.uptime }}">{{ blog.uptime }}</span> | Tag:
        {% set tags = blog.tag.split(",") %}
        {% for tag in tags %}
        {{ tag }}
        {% endfor %}
    </small>
</hgroup>

<div class="article animate__animated animate__fadeInUp">
    {{ data }}
</div>

<div class="blog_footer">
    <div class="prev_next">
        {% if pn.prev != None %}
        <a href="{{ site_url }}{{pn.prev.url}}.html" class="text-truncate">< <span>{{ pn.prev.title }}</span></a>
        {% endif %}

        {% if pn.next != None %}
        <a href="{{ site_url }}{{pn.next.url}}.html" class="text-truncate"><span>{{ pn.next.title }}</span> ></a>
        {% endif %}
    </div>
    {% if related[0] is defined %}
    <div class="related">
        <p>
            相关文章：
        </p>
        <ul>
            {% for t in related %}
            <li>
                <a href="{{ site_url }}{{t.url}}.html" class="text-truncate "><span>{{ t.title }}</span></a>
            </li>
            {% endfor %}
        </ul>

    </div>
    {% endif %}

    <script src="https://giscus.app/client.js"
        data-repo="bosichong/bosichong.github.io"
        data-repo-id="R_kgDOJLHieA"
        data-category="Announcements"
        data-category-id="DIC_kwDOJLHieM4CWhL8"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>

</div>


<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/onedark.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>

{% endblock %}